@model GymSite.Models.StateModels.StateDetail

@{
    ViewBag.Title = "Details";
}

<style>
    a {
        color: #5cb85c;
    }

        a:hover {
            color: #5cb85c;
        }

    .buttonfix a {
        color: whitesmoke;
    }

    th {
        color: whitesmoke;
    }

    tr {
        color: whitesmoke;
    }

    td {
        color: whitesmoke;
    }
</style>

<h2>@Html.DisplayFor(model => model.Name)</h2>
<hr />
<div class="container">
    <div class="row">

        <div class="col-6">

            @foreach (var city in Model.Cities)
            {
                <dl class="dl-horizontal">
                    <dd>
                        <h4>@Html.DisplayFor(model => city.Name)</h4>
                        @Html.ActionLink("Learn More", "Details", "City", new { id = city.CityId }, null)

                    </dd>

                </dl>
            }
        </div>

        <div class="col-6">
            <img src="~/Images/Local.png" class="img-fluid" />
        </div>
    </div>
</div>

<button onclick="goBack()" class="btn btn-success">Back to States</button>

<script>
    function goBack() {
        window.history.back()
    }
</script>
