@{
    ViewBag.Title = "About";
}
<h2>GymSite</h2>
<h3>Our Mission</h3>

<p>GymSite is your tool to find the right gym for you!  Whether you are a first time gym goer or a seasoned veteran looking for new equipment to try out, GymSite will help you save time in your search so you can get going on your goals.  No more uninformative websites, no more driving to gyms to just be disappointed in your options, just a quick search and you'll know exactly what a gym has to offer.</p>
