@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GymSite</h1>
    <p class="lead">GymSite last first step you'll need to take in your journey to finding the right gym for you!</p>
    <p><a href="https://localhost:44381/State" class="btn btn-primary btn-lg">Get Started! &raquo;</a></p>
</div>